body{
    background-color: #6864e2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
}
.calender{
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
}
.month{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day{
    color: rgba(0,0,0,0.4);
    font-size: medium;

}
.date{
    font-size: 80px;
    margin: 0;
    font-weight: bolder;
}
.year{
    padding: 5px;
    color: rgba(0,0,0,0.4);

}


