@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    margin: 0;
    padding: 0; 
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"Permanent Marker", cursive ;
}